# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Firebase
.firebase/
firebase-debug.log
firebase-debug.*.log
.runtimeconfig.json

# IDEs
.vscode/
.idea/
.DS_Store

# Logs
*.log

# SIMCO AI Secrets
web/firebase-config.js
